.mazeContainer1{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-evenly;
    background-color: lightcoral;
    flex-direction: column;
}

.maze{
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(5, 50px);
    margin: 0 30%;
}

.tryMaze{
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(4, 60px);
}

.path{
    background-color: lightgreen;
}

.xxx{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.upDownLeft{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.upRight{
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.upLeftRight{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.downLeftRight{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.downLeft{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.down{
    border-bottom: 1px solid black;
}

.upDownRight{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.upLeft{
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.upDown{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.right{
    border-right: 1px solid black;
}

.downRight{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.upDownRight{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.left{
    border-left: 1px solid black;
}

.down{
    border-bottom: 1px solid black;
}



.wall{
    background-color: gray;
}

.path{
    background-color: aliceblue;
}

.entrance{
    background-color: lightskyblue;
}

.finish{
    background-color: lightgreen;
}

.tryDiv{
    width: 200px; 
    height: 200px; 
    background-color: lightblue;

}